@media (max-width: 768px) {
    /* header */
    img.Logo {
        width: 160px;
    }
    .nav>.nav-btn {
        display: inline-block;
        position: absolute;
        right: 80px;
        top: 30px;
        cursor: pointer;
    }
    .nav>.nav-btn>label {
        display: inline-block;
        width: 36px;
        height: 36px;
        padding: 9px 8px;
        background: #f2f3f6;
        cursor: pointer;
    }
    .nav>.nav-btn>label>span {
        display: block;
        width: 20px;
        height: 7px;
        border-top: 2px solid #13294b;
    }
    .nav>.nav-links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: #ffffff;
        height: 0px;
        transition: all 0.6s ease-in;
        overflow-y: hidden;
        top: 99px;
        left: 0px;
        padding: 0;
        text-align: left;
    }
    .searchingSlot {
        width: 220px;
    }
    .nav-links ul li {
        display: block;
    }
    .par-submenu:hover .submenu {
        transform: translateY(0px);
        left: 10px;
    }
    .nav>.nav-links>a {
        display: block;
        width: 100%;
        border-bottom: 1px solid transparent;
    }
    .nav>.nav-links>a:hover {
        border-bottom: 1px solid #00a3e0;
        transition: 0.2s ease-in;
        display: block;
    }
    .nav>#nav-check:not(:checked)~.nav-links {
        height: 0px;
    }
    .nav>#nav-check:checked~.nav-links {
        height: calc(100vh - 50px);
    }
    .nav-links ul li.par-submenu {
        border-bottom: 1px solid #ccc;
    }
    span.animated-line {
        width: 0px !important;
        border: 0 !important;
    }
    /* header */
    /** propertie-section **/
    .propertieImg h2 {
        font-size: 25px;
    }
    /** counter **/
    .mt-counter {
        margin-top: 0px;
        margin-right: 20px;
    }
    /** Presence **/
    .prePadr {
        padding-left: 0px;
        padding-right: 15px !important;
    }
    img.location1 {
        left: 22px;
        top: 15px;
        width: 10px;
    }
    img.location2 {
        top: 30px;
        left: 105px;
        width: 10px;
    }
    img.location3 {
        top: 8px;
        width: 10px;
    }
    img.location4 {
        top: 24px;
        left: 56%;
        width: 10px;
    }
    /** Team **/
    .learnSlot {
        transform: translate(10%, -50%);
        width: 250px;
    }
    .descriptionDiv {
        transform: translate(10%, 55%);
        width: 290px;
        height: 455px;
    }
    /** about-section **/
    .leftSlot {
        margin-bottom: 30px;
    }
    .aboutTitle {
        position: initial;
        transform: initial;
    }
    .aboutSlot-Img {
        width: 100%;
        position: initial;
    }
    img.aboutSlotright-Img {
        position: initial;
        width: 100%;
    }
    .aboutTitleRight {
        position: initial;
        transform: initial;
    }
    section.coreValue {
        margin-top: 20px;
    }
    .respPara {
        width: 130px;
    }
    /** property-section **/
    .marinaSlot img {
        max-width: initial;
    }
    .marainaAlign {
        text-align: left;
    }
    .contactBox {
        background: #13294b;
        color: #ffffff;
        text-align: center;
        width: 230px;
        padding: 10px 20px;
        position: absolute;
        left: 70px;
        top: -80px;
        font-size: 12px;
    }
    .contactBox h2 {
        font-size: 20px;
        width: 200px !important;
    }
    /** disclosures-section **/
    section.disclosures {
        padding: 150px 20px 20px;
    }
    .contentTab {
        padding: 0;
    }
    .tab-vertical .nav-tabs .nav-link {
        padding: 10px 10px !important;
    }
    .nav-item .fa-angle-right {
        top: 13px;
        right: 10px;
        font-size: 20px;
    }
    .tab-content>.tab-pane {
        display: none;
        border-bottom: 0px !important;
    }
    .tab-content>.active {
        display: block;
    }
    .tab-vertical .tab-content {
        height: 342px;
    }
    .newsDiv .form-select {
        width: 150px;
    }
    /** contact-section **/
    .contactBg {
        padding: 100px 20px;
    }
    .contactSlot {
        padding: 20px 30px;
    }
    /** footer-section **/
    footer#footer {
        padding: 30px 20px;
    }
    .footer-links {
        padding: 20px 20px;
    }
    .rg-footer {
        border-left: 0;
        padding: 20px 20px;
        border-top: 1px solid #c2c2c2;
    }
    button.footerBtn {
        width: 255px;
    }
    .upper-icon {
        bottom: 15px;
        top: initial;
    }
}

@media (max-width:600px) {
    /* header */
    img.Logo {
        width: 160px;
    }
    .nav>.nav-btn {
        display: inline-block;
        position: absolute;
        right: 80px;
        top: 30px;
        cursor: pointer;
    }
    .nav>.nav-btn>label {
        display: inline-block;
        width: 36px;
        height: 36px;
        padding: 9px 8px;
        background: #f2f3f6;
        cursor: pointer;
    }
    .nav>.nav-btn>label>span {
        display: block;
        width: 20px;
        height: 7px;
        border-top: 2px solid #13294b;
    }
    .nav>.nav-links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: #ffffff;
        height: 0px;
        transition: all 0.6s ease-in;
        overflow-y: hidden;
        top: 99px;
        left: 0px;
        padding: 0;
        text-align: left;
    }
    .searchingSlot {
        width: 220px;
    }
    .nav-links ul li {
        display: block;
    }
    .par-submenu:hover .submenu {
        transform: translateY(0px);
        left: 10px;
    }
    .nav>.nav-links>a {
        display: block;
        width: 100%;
        border-bottom: 1px solid transparent;
    }
    .nav>.nav-links>a:hover {
        border-bottom: 1px solid #00a3e0;
        transition: 0.2s ease-in;
        display: block;
    }
    .nav>#nav-check:not(:checked)~.nav-links {
        height: 0px;
    }
    .nav>#nav-check:checked~.nav-links {
        height: calc(100vh - 50px);
    }
}

@media (max-width: 575px) {
    /* header */
    img.Logo {
        width: 160px;
    }
    .nav>.nav-btn {
        display: inline-block;
        position: absolute;
        right: 80px;
        top: 30px;
        cursor: pointer;
    }
    .nav>.nav-btn>label {
        display: inline-block;
        width: 36px;
        height: 36px;
        padding: 9px 8px;
        background: #f2f3f6;
        cursor: pointer;
    }
    .nav>.nav-btn>label>span {
        display: block;
        width: 20px;
        height: 7px;
        border-top: 2px solid #13294b;
    }
    .nav>.nav-links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: #ffffff;
        height: 0px;
        transition: all 0.6s ease-in;
        overflow-y: hidden;
        top: 99px;
        left: 0px;
        padding: 0;
        text-align: left;
    }
    .searchingSlot {
        width: 220px;
    }
    .nav-links ul li {
        display: block;
    }
    .par-submenu:hover .submenu {
        transform: translateY(0px);
        left: 10px;
    }
    .nav>.nav-links>a {
        display: block;
        width: 100%;
        border-bottom: 1px solid transparent;
    }
    .nav>.nav-links>a:hover {
        border-bottom: 1px solid #00a3e0;
        transition: 0.2s ease-in;
        display: block;
    }
    .nav>#nav-check:not(:checked)~.nav-links {
        height: 0px;
    }
    .nav>#nav-check:checked~.nav-links {
        height: calc(100vh - 50px);
    }
}

@media (max-width: 420px) {}

@media (max-width: 991px) {}